<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-nav flex-row">
      <a class="nav-link" href="product">PRODUCT DETAILS</a>
      <a class="nav-link" href="stock">STOCK DETAILS</a>
      <a class="nav-link" href="supplier">SUPPLIER DETAILS</a>
      <a class="nav-link" href="purchase">PURCHASE ORDER DETAILS</a>
      <a class="nav-link" href="item">ITEM ENTRY DETAILS</a>
      <a class="nav-link" href="billing">BILLING DETAILS</a>
      <a class="nav-link" href="employee">EMPLOYEE DETAILS</a>
      <a class="nav-link" href="customer">CUSTOMER DETAILS</a>
      <a class="nav-link" href="report">REPORTS</a>
      <a class="nav-link text-danger" href="home">END</a>
    </div>
  </div>
</nav>
