<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN PAGE</title>
</head>
<body>
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">LOGIN PAGE</h5>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="test" [(ngModel)]="username" name="username">
            <label for="floatingInput">User Name</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="password" name="password">
            <label for="floatingPassword">Password</label>
          </div>
          <p *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</p>
        </div>
        <div class="card-footer">
          <div class="button-container">
            <button type="button" class="btn btn-primary" (click)="onSubmit()">LOGIN</button>
            <button type="button" class="btn btn-secondary" (click)="onCancel()">CANCEL</button>
          </div>
        </div>
    </div>
</body>
</html>
