body {
    margin: 0;
    height: 100vh;
    background-image: url('/assets/supermarketcart.JPG');
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
    color: blue;
    text-align: center;
}